# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# Power BI autosave
*.pbix.autosave

# Dados e modelos locais
data/output/
models/
*.xlsx
